@model CYJ.Models.QUARTEROPTION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_mytemplate.cshtml";

}

<h2>Deactivating Period</h2>

<h3>Are you sure you want to deactivate this period?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quarteroptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quarteroptionName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> 
        <div class="col-md-3">
            <input type="button" class="btn btn-info" value="Back to List" onclick="@("window.location.href='" + @Url.Action("Index", "QUARTEROPTIONs1") + "'");" />
        </div>
    </div>
    }
</div>
